<mat-toolbar>
    <mat-toolbar-row class="lista-toolbar">
      <span>Nova compra</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <div class="formulario">
        <form>
            <div>
                <label id="radio-group-label">Categoria:</label>
                <mat-radio-group aria-labelledby="radio-group-label"
                    class="item-radio-group"
                    [(ngModel)]="compra.categoria" name="categoria">
                    <mat-radio-button class="item-radio-button" value="bebida">Bebida</mat-radio-button>
                    <mat-radio-button class="item-radio-button" value="comida">Comida</mat-radio-button>
                </mat-radio-group>
            </div>            
            <mat-form-field>
                <input matInput placeholder="Descrição" [(ngModel)]="compra.descricao" name="descricao">
            </mat-form-field>            
            <mat-form-field>
                <input matInput placeholder="Valor" [(ngModel)]="compra.valor" name="valor">
            </mat-form-field>
        </form>
    </div>

    <button mat-raised-button (click)="updateCompras()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>

</mat-card>