<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Churrasco Hammer!
    </mat-card-title>

    <mat-card-content class="card-conteudo">
        <p>
          <span>
            <i class="material-icons">
                assignment
            </i>
            <strong>Data:</strong> <span class="item-descricao">23/01/2021 - 14:00</span>
          </span>
        </p>
        <p>
           <span>
            <i class="material-icons">
                place
            </i>
               <strong>Local:</strong> <span class="item-descricao">A definir!</span>
            </span>
        </p>
        <p>            
          <span>
            <i class="material-icons">
                attach_money
            </i>
             <strong>Contribuição:</strong>
            <ul>
              <li>Participante: R$ 20,00</li>
              <li>Participante com convidado: R$ 40,00</li>
              <li><strong>*Obs:</strong> Quem não consumir bebiba paga metade da contribuição. 
                <small>(Promoção valida por pessoa!)</small>
              </li>
            </ul>
          </span>
        </p>
    </mat-card-content>

</mat-card>
