<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Churrasco Hammer!
    </mat-card-title>

    <mat-card-content class="card-conteudo">
        <p>
          <span>
            <i class="material-icons">
                assignment
            </i>
            Data:
          </span>
        </p>
        <p>
            
          <span>
            
            Horario:
          </span>          
        </p>
        <p>
           <span>
            <i class="material-icons">
                place
            </i>
               Local:
            </span>
        </p>
        <p>            
          <span>
            <i class="material-icons">
                attach_money
            </i>
            Contribuição:
          </span>
        </p>
    </mat-card-content>

</mat-card>
